:root {
  --custom-WMX2: 0;
  --custom-TRMG: 0;
  --custom-BLDA: 0;
  --custom-TRMD: 0;
  --custom-TRMC: 0;
  --custom-SKLD: 0;
  --custom-TRML: 0;
  --custom-SKLA: 0;
  --custom-TRMF: 0;
  --custom-TRMK: 0;
  --custom-BLDB: 0;
  --custom-TRMB: 0;
  --custom-TRMA: 0;
  --custom-SKLB: 0;
  --custom-TRME: 0;
}

h1 {
  font-variation-settings: "WMX2" var(--custom-WMX2), "TRMG" var(--custom-TRMG),
    "BLDA" var(--custom-BLDA), "TRMD" var(--custom-TRMD),
    "TRMC" var(--custom-TRMC), "SKLD" var(--custom-SKLD),
    "TRML" var(--custom-TRML), "SKLA" var(--custom-SKLA),
    "TRMF" var(--custom-TRMF), "TRMK" var(--custom-TRMK),
    "BLDB" var(--custom-BLDB), "TRMB" var(--custom-TRMB),
    "TRMA" var(--custom-TRMA), "SKLB" var(--custom-SKLB),
    "TRME" var(--custom-TRME);
}
